*{
  margin: 0;
  padding: 0;
}
.root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige;
}
.admin-confirmation-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-confirmation-form{
  background: rgba(255,255,255,0.5);
  padding: 30px 70px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-google{
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 90px;
  color:#080808;
  opacity: 0.65;
}
.logo-image{
  font-weight: 200;
}
.form-name{
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color:#080808;
  opacity: 0.7;
}
.input{
  margin-top: 30px;
  background-color: rgba(255,255,255,0.0);
  border: none;
  border-bottom: rgba(8,8,8,0.7) solid 1px;
  padding: 5px;
  font-size: 20px;
  color:rgba(8,8,8,0.7);
}
hr{
  margin-top: -1px;
  margin-bottom: 30px;
  background-color: rgb(69, 55, 55);
  width: 0%;
}

.input:focus+hr{
  animation: move 0.5s ;
  animation-timing-function: ease;
}
.input:focus{
  outline: none;
  animation: show 100s;
  animation-timing-function: ease;
  animation-delay: 0.1s;
}
@keyframes show{
  1%{
    border-color: rgb(69, 55, 55);
  }
}
@keyframes move{
  100%{
    width:100%;
  }
}

.submit{
  width: 50%;
  height: 30px;
  background:rgba(8,8,8,0.6);
  border: 1px solid rgba(8,8,8,0.7);
  border-radius: 5px;
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  margin: 20px 0;
}
.submit:hover{
  background:rgba(8,8,8,0.8);
}
.register-link{
  color:rgba(8,8,8,0.7);
}
