*{
  margin: 0;
  padding: 0;
}
.root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige;
}
.search-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-google{
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 90px;
  color:#080808;
  opacity: 0.65;
}
.logo-image{
  font-weight: 200;
}
.input{
  background-color: rgba(255,255,255,0.5);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 30px;
  width: 80%;
  transition: 0.3s;
  color:#080808;
  opacity: 0.8;
}
.input:focus{
  border-radius: 10px;
  outline: none;
}
.submit{
  background: transparent;
  border:none;
  color:#080808;
  opacity: 0.65;
  margin-left: -45px;
}
.submit:hover{
  opacity: 0.8;
}


.search-res{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-header{
  width: 100%;
  height: 3%;
  display: flex;
  align-items: center;
}
.logo-google-small{
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color:#080808;
  opacity: 0.65;
  margin: 20px 30px;
}
.logo-image-small{
  font-weight: 200;
}
.search-div-small{
  width: 40%;
  display: flex;
  align-items: center;
}
.search-div-small.input{
  width: 40%;
}
.results, .photo-div{
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  min-height: 87vh;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.photo-div{
  display: none;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top:80px;
  min-height: 93vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.photo{
  width:400px;
}
.result-image{
  max-width: calc(100%/4);
  height:20%; 
  margin: 20px;
  height: 170px;
  display: flex;
  justify-content: center;
}
.res-img{
   width:100%;
   height: 150px;
  margin:10px;
  object-fit: cover;
}
.res-img:hover{
  outline: rgba(255,255,255,1) 2px solid;
}
.warning{
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color:#080808;
  opacity: 0.65;
  margin: 20px 30px;
}
.logout-div{
  margin-left:auto;
  margin-right: 30px;
  opacity: 0.7;
}
.result-image{
  position: relative;
}
.actionButton{
  visibility: hidden;
  margin-top: 10px;
  height: 25px;
  background-color: rgba(255,255,255,0.5);
  opacity: 1;
  border-color: rgba(0,0,0,0.1);
}
.editButton{
  margin-left: -58px;
}
.result-image:hover .actionButton{
  visibility: visible;
}
.actionButton:hover{
  background-color: rgba(255,255,255,0.9);
}
.edit-file-div{
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top:80px;
  min-height: 93vh;
  width: 100%;
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
}
.edit-file-form{
  background-color: rgba(255,255,255,0.7);
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5%;
}
.form-name{
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color:#080808;
  opacity: 0.7;
}
.edit{
  background-color: rgba(255,255,255,0.0);
  border: none;
  border-radius: 0%;
  border-bottom: rgba(8,8,8,0.7) solid 1px;
  padding: 5px;
  font-size: 20px;
}
hr{
  margin-top: -1px;
  margin-bottom: 30px;
  background-color: rgb(69, 55, 55);
  width: 0%;
}

.edit:focus+hr{
  animation: move 0.5s ;
  animation-timing-function: ease;
}
.edit:focus{
  outline: none;
  animation: show 100s;
  animation-timing-function: ease;
  animation-delay: 0.1s;
  border-radius: 0%;
}
@keyframes show{
  1%{
    border-color: rgb(69, 55, 55);
  }
}
@keyframes move{
  100%{
    width:100%;
  }
}
.buttons{
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-around;
}
.buttons .button{
  display: block;
  width: 35%;
}
.button{
  width: 80%;
  height: 30px;
  background:rgba(8,8,8,0.6);
  border: 1px solid rgba(8,8,8,0.7);
  border-radius: 5px;
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  margin: 20px 0;
}
.button:hover{
  background:rgba(8,8,8,0.8);
}
.editedImage{
  width: 300px;
}
